.btn-primary {
    background-color: #4A7C59; 
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}

.btn-secondary {
    background-color: #f5f1ea;
    color: #4A7C59; 
    border-width: 1px;
    border-color: #4A7C59;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}

.btn-tertiary {
    background-color: #6B6358; 
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}

.card {
    width: 300px;
    height: max-content;
    background-color: #FAF6F0;
    display: flex;
    flex-direction: column;
    padding: 1.5rem; 
    border-radius: 1rem;   
    box-shadow: 0 10px 15px rgba(0,0,0,0.1),
                0 4px 6px rgba(0,0,0,0.05); 
    gap: 1rem; 
}

.floating-text {
    background-color: #eae6de;
    padding: 2px 8px;
    border-radius: 0.5rem;
    font-size: 15px;
}

.project-card {
    background-size: cover;
    border-radius: 1.5rem;
    padding: 1.75rem;
}

.white-pill {
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid white;
    padding: 5px 10px;
    margin-top: 5px;
    font-weight: 600;
}